<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.szzdmj.szzdtv.pwa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="SZZDTV PWA"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
