1| <?xml version="1.0" encoding="utf-8"?>
2| <manifest xmlns:android="http://schemas.android.com/apk/res/android"
3|           xmlns:tools="http://schemas.android.com/tools"
4|           android:installLocation="auto"
5|           package="com.liskovsoft.smartyoutubetv">
6| 
7|     <uses-permission android:name="android.permission.INTERNET"/>
8|     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
9|     <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
10|     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
11|     <uses-permission android:name="android.permission.RECORD_AUDIO"/>
12| 
13|     <!-- NOTE: ExoApplication: exoplayer specific params -->
14|     <application
15|         android:label="@string/app_name"
16|         tools:node="merge">
17| 
18|         <!-- allow to use repacked XWalk's apk -->
19|         <meta-data android:name="xwalk_verify" android:value="disable" />
20|     </application>
21| 
22| </manifest>
