<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="szzdtv.smartyoutubetv">

    <application
        android:label="SmartyYouTubeTV"
        android:icon="@android:drawable/ic_menu_gallery">
        <!-- 启动 Activity：请确保类名正确 -->
        <activity
            android:name="com.liskovsoft.smartyoutubetv.player.PlayerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 其它 Activity / meta-data -->
    </application>
</manifest>
