<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
          package="com.liskovsoft.exoplayeractivity">

    <!-- NOTE: use older sdk -->
    <uses-sdk tools:overrideLibrary="
        androidx.media3.common,
        androidx.media3.exoplayer,
        androidx.media3.ui,
        androidx.media3.session,
        androidx.media3.datasource,
        androidx.media3.datasource.okhttp,
        com.github.rubensousa.previewseekbar,
        io.github.rubensousa.previewseekbar.media3"/>

    <application>
        <!-- NOTE: exoplayer specific section -->
    </application>
</manifest>