<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.liskovsoft.smartyoutubetv">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 移除不必要的 tools:overrideLibrary 针对 ExoPlayer；若无真实兼容性限制可全部删掉 -->
    <!-- 保留 leanback feature -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>

    <application
        android:name="com.liskovsoft.browser.Browser"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_main"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:supportsRtl="true">
        <activity android:name=".bootstrap.BootstrapActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize|locale|fontScale"
                  android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
