<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- package attribute removed; namespace must be set in module's build.gradle (android { namespace "..."} ) -->
    <uses-sdk android:minSdkVersion="21" />
    <!-- 其余内容保留或合并到此处 -->
    <uses-sdk tools:overrideLibrary="org.xwalk.core"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>

    <application android:name=".Browser" android:theme="@style/AppTheme">
        <!-- allow to use repacked XWalk's apk -->
        <meta-data android:name="xwalk_verify" android:value="disable" />
    </application>

</manifest>
